@font-face {
    font-family: 'MuseoSans-Light';
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/MuseoSans/MuseoSansLight.woff) format('woff');
}

@font-face {
    font-family: 'MuseoSans-Regular';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/MuseoSans/MuseoSansRegular.woff) format('woff');
}

@font-face {
    font-family: 'MuseoSans-Medium';
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/MuseoSans/MuseoSansMedium.woff) format('woff');
}

@font-face {
    font-family: 'MuseoSans-Bold';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/MuseoSans/MuseoSansBold.woff) format('woff');
}