@import "vars";
@import "fonts.scss";
@import "vendor/reset.scss";

body {
    background-color: #F9FBFC;
    font-family: $m-m;
    font-size: 14px;
    line-height: 21px;
    color: $light;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* Blocks */
@import "blocks/container.scss";
@import "blocks/header-top.scss";
@import "blocks/header-bottom.scss";
@import "blocks/nav.scss";
@import "blocks/intro.scss";
@import "blocks/master.scss";
@import "blocks/popular.scss";
@import "blocks/feedbacks.scss";
@import "blocks/banners.scss";
@import "blocks/footer.scss";
@import "blocks/modal.scss";