.banners__inner {
    padding: 62px 0 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banners__preview {
    display: flex;
    justify-content: space-between;
    width: 42%;
}

.banner {
    display: block;
    max-width: 220px;
}

.banner-img {
    display: block;
    max-width: 100%;
    height: auto;
}

.banners__info {
    width: 50%;
}

.banners__title {
    font-size: 32px;
    line-height: 38px;
    color: $dark-blue;
    max-width: 383px;
}