.feedbacks {
    position: relative;
}

.feedbacks__box {
    background: #FDF1D3;
    position: absolute;
    width: 100%;
    height: 204px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
}

.feedbacks__inner {
    padding: 50px 0 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feedbacks__info {
    max-width: 278px;
}

.feedbacks__title {
    font-size: 48px;
    line-height: 1;
    color: $dark-blue;
    
    span {
        display: block;
        font-size: 28px;
        margin-top: 24px;
    }
}

.slider__wrapper--feedbacks {
    max-width: 758px;
}

.feedbacks__slider-arrow {
    padding: 10px 9px;
    width: 32px;
    height: 32px;
    
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -48px;
    
    border-radius: 50%;
    background: $primary;
    
    img {
        display: block;
        max-width: 100%;
        height: auto;
    }
    
    &--next {
        left: auto;
        right: -48px;
        
        img {
            transform: rotate(180deg);
        }
    }
}

.feedbacks__slider {
    display: flex;
    justify-content: space-between;
}

.feedbacks__item {
    max-width: 368px;
    padding: 24px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
    border-radius: 8px;
    background: $white;

    border: .3px solid rgba(0, 0, 0, .05);

    cursor: pointer;
    transition: all .2s;

    &:hover {
        background:darken($white, 3);
    }
}

.feedbacks__item-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.feedbacks__from {
    font-size: 15px;
    line-height: 22px;
    color: $light;
    
    span {
        color: $dark-blue;
    }
}

.feedbacks__stars {
    display: flex;
}

.feedbacks__star {
    & + & {
        margin-left: 4px;
    }
}

.feedbacks__item-text {
    font-size: 14px;
    line-height: 21px;
    color: $light;
}

.feedbacks__item-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.feedbacks__item-person {
    margin-right: 16px;
    
    font-size: 18px;
    line-height: 1;
    color: $dark-blue;
    text-align: right;
    
    span {
        display: block;
        margin-bottom: 12px;
        
        font-size: 15px;
        color: $light;
    }
}

.feedbacks__avatar {
    display: block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}











