<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            
            <div class="footer__top">
                <div class="footer__col">
                    <a class="footer__logo" href="#">
                        <img class="footer__logo-img" src="assets/images/logo.svg" alt="">
                    </a>
                    <span class="footer__description">
                        Сервис онлайн записи в салоны красоты.
                    </span>
                </div><!--./footer__col-->
                
                <div class="footer__col">
                    <a class="footer__link" href="#">
                        Стать партнером
                    </a>
                    <a class="footer__link" href="#">
                        Контакты
                    </a>
                </div><!--./footer__col-->
                
                <div class="footer__col">
                    <a class="footer__link" href="#">
                        Правила онлайн оплаты
                    </a>
                    <a class="footer__link" href="#">
                        Политика конфиденциальности
                    </a>
                    <a class="footer__link" href="#">
                        Пользовательское соглашение
                    </a>
                </div><!--./footer__col-->
                
                <div class="footer__col">
                    <span class="footer__social-description">
                        Следите за нами:
                    </span>
                    
                    <div class="footer__social">
                        <a class="footer__social-link" href="#">
                            <img src="assets/images/vk.svg" alt="">
                        </a>
                        <a class="footer__social-link" href="#">
                            <img src="assets/images/fb.svg" alt="">
                        </a>
                        <a class="footer__social-link" href="#">
                            <img src="assets/images/vk.svg" alt="">
                        </a>
                        <a class="footer__social-link" href="#">
                            <img src="assets/images/fb.svg" alt="">
                        </a>
                    </div>
                </div><!--./footer__col-->
            </div><!--./footer__top-->
            
            <div class="footer__bot">
                <p>© ZAPIS KZ LLP 2017 - 2020</p>
            </div>
            
        </div><!--./footer__inner-->
    </div><!--./container-->
</footer><!--./footer-->