<header class="header-top">
    <div class="container">
        <div class="header-top__inner">
            
            <div class="header__group">
                <a class="header__logo" href="#">
                    <img class="header__logo-img" src="assets/images/logo.svg" alt="">
                </a>

                <a class="header__link" href="#">
                    <img class="header__link-icon" src="assets/images/point.svg" alt="">
                    <span>Алматы</span>
                </a>
            </div><!--./header__group-->
            
            
            <div class="header__search">
                <input type="text" class="header__search-input" placeholder="Что вы искали?">
                <img class="header__loopa" src="assets/images/loopa.svg" alt="">
            </div>
            
            <div class="header__group">
                <a class="header__link  header__link--fw400" href="#">
                    Стать партнером
                </a>
                
                <a class="header__link  header__link--fw400" href="#">
                    Контакты
                </a>
            </div><!--./header__group-->
            
            <div class="header__group">
                <a class="header__link" href="#">
                    <img class="header__link-icon" src="assets/images/user.svg" alt="">
                    <span>Вход</span>
                </a>
                
                <a class="header__link  header__link--primary" href="#">
                    <img class="header__link-icon" src="assets/images/registration.svg" alt="">
                    <span>Регистрация</span>
                </a>
            </div><!--./header__group-->
            
        </div><!--./header-top__inner-->
    </div><!--./container-->
</header><!--./header-top-->

<div class="header-bottom">
   <div class="container">
        <div class="header-bottom__inner">
            
            <nav class="nav">
                <div class="nav__group">
                    <a class="nav__link  nav__link--primary" href="#">
                        <img class="nav__link-icon" src="assets/images/nav-all.svg" alt="">
                        <span>Все категории</span>
                    </a>
                </div><!--./nav__group-->
                
                <div class="nav__group">
                    <a class="nav__link" href="#">Для женщин</a>
                    <a class="nav__link" href="#">Для мужчин</a>
                </div><!--./nav__group-->
                
                <div class="nav__group">
                    <a class="nav__link" href="#">Волосы</a>
                    <a class="nav__link" href="#">Ногти</a>
                    <a class="nav__link" href="#">Брови</a>
                    <a class="nav__link" href="#">Ресницы</a>
                </div><!--./nav__group-->
                
                <div class="nav__group">
                    <a class="nav__link" href="#">Визаж</a>
                    <a class="nav__link" href="#">Косметология</a>
                    <a class="nav__link" href="#">Эпиляция</a>
                </div><!--./nav__group-->
            </nav><!--./nav-->
            
        </div><!--./header-bottom__inner-->
   </div><!--./container-->
</div><!--./header-bottom-->